
@include media(phone) {

//-------------------------------
// Header
//-------------------------------

  .Container._Header {
    .Title {
      @include size(192px, auto);
      padding: 26px 0 0 16px;
      float: left;
      img { width: 100%; }
    }
  }

//-------------------------------
// Share
//-------------------------------

  .Modal._Share {
    .Confirm {
      @include clearfix;
      @include size(84%, auto);
      @include space(4%, 4% auto 0 auto);
      @include border-radius($default-radius);
      background: $white;
      .thumb {
        width: 50%;
        float: none;
        margin: 0 auto 16px auto;
      }
      .attention {
        width: 100%;
        float: none;
      }
    }
  }

}
