@charset "UTF-8";

$test: false !default;
$img-path: "/static/img";
$partner-color: #034397;
$default-font-size: 13px;
$default-line-height: 1.5;

@import "../components/zenigame/src/zenigame";

html, body {
  @include size(100%);
  @include typo($default-font-size, $light-black, 300, $default-line-height);
  overflow: auto;
  text-transform: none;
  -webkit-text-size-adjust: 100%;
}

//-------------------------------
// Wrapper
//-------------------------------

.Wrapper {
  @include clearfix;
  @include size(100%);
  @include pos(relative, 0, 0);
  z-index: 0;
  background-image: url('/images/eso1006a.jpg');
  background-size: cover;
}

//-------------------------------
// Container
//-------------------------------

.Container {
  @include clearfix;
  @include size(100%, auto);
  &._Start {
    @include pos(absolute, 0, 0);
    z-index: 2;
    height: 100%;
    background: rgba($black, .6);
  }
  &._Canvas {
    @include pos(absolute, 0, 0);
    z-index: 0;
    height: 100%;
  }
}

//-------------------------------
// Start
//-------------------------------

.StartContent {
  @include size(1024px, 370px);
  @include pos(relative, 0, 0);
  margin: 0 auto;
  .title {
    @include size(1000px, 50px);
    margin: 0 0 120px 0;
    text-align: center;
  }
  .startBtn {
    @include size(200px);
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      animation: rotate 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation: rotate 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
    }
  }
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

//-------------------------------
// PotatoCounter
//-------------------------------

.PotatoCounter {
  @include size(200px, 50px);
  @include pos(absolute, 0, null, null, 0);
  display: none;
  z-index: 2;
  padding: 16px;
  p {
    @include typo_headline;
    text-align: right;
    color: $white;
  }
}
