@charset "UTF-8";

$test: false !default;
$img-path: "/static/img";
$partner-color: #034397;
$default-font-size: 13px;
$default-line-height: 1.5;

@import "../components/zenigame/src/zenigame";

html, body {
  @include size(100%);
  @include typo($default-font-size, $light-black, 300, $default-line-height);
  overflow: auto;
  text-transform: none;
  -webkit-text-size-adjust: 100%;
}

//-------------------------------
// Wrapper
//-------------------------------

.Wrapper {
  @include clearfix;
  @include size(100%);
  @include pos(relative, 0, 0);
  z-index: 0;
  background-image: url('/images/eso1006a.jpg');
  background-size: cover;
}

//-------------------------------
// Container
//-------------------------------

.Container {
  @include clearfix;
  @include size(100%, auto);
  &._Start {
  }
  &._Canvas {
    @include pos(absolute, 0, 0);
    z-index: 0;
    height: 100%;
  }
}

//-------------------------------
// PotatoCounter
//-------------------------------

.PotatoCounter {
  @include size(200px, 50px);
  @include pos(absolute, 0, null, null, 0);
  padding: 16px;
  p {
    @include typo_headline;
    text-align: right;
    color: $white;
  }
}
