@charset "UTF-8";

$test: false !default;
$img-path: "/static/img";
$partner-color: #034397;
$default-font-size: 13px;
$default-line-height: 1.5;

@import "../components/zenigame/src/zenigame";

html, body {
  @include size(100%);
  @include typo($default-font-size, $light-black, 300, $default-line-height);
  overflow: auto;
  text-transform: none;
  -webkit-text-size-adjust: 100%;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
}

//-------------------------------
// Wrapper
//-------------------------------

.Wrapper {
  @include clearfix;
  @include size(100%);
  @include pos(relative, 0, 0);
  z-index: 1;
  background-image: url('/images/eso1006a.jpg');
  background-size: cover;
}

//-------------------------------
// Container
//-------------------------------

.Container {
  @include clearfix;
  @include size(100%, auto);
  &._Header {
    @include pos(relative, 0, 0);
    height: 80px;
    z-index: 10;
  }
  &._Canvas {
    @include pos(absolute, 0, 0);
    z-index: 0;
    height: 100%;
  }
}

//-------------------------------
// Header
//-------------------------------

.Container._Header {
  .Title {
    @include size(240px, auto);
    padding: 24px 0 0 24px;
    float: left;
    img { width: 100%; }
  }
  .FileUpload {
    @include size(160px, auto);
    padding: 16px;
    float: left;
    .btn {
      @include size(160px, 32px);
      @include pos(relative, 0, 0);
      @include border(1px, solid, $white, $default-radius);
      display: inline-block;
      overflow: hidden;
      color: $white;
      p {
        @include size(100%);
        line-height: 32px;
        text-align: center;
        cursor: pointer;
      }
      input[type="file"] {
        @include size(100%);
        @include pos(absolute, 0, 0);
        opacity: 0;
        cursor: pointer;
      }
    }
  }
  .Count {
    @include size(200px, auto);
    padding: 24px;
    float: right;
    p {
      @include typo_headline;
      text-align: right;
      color: $white;
    }
  }
}

.Social {
  @include pos(absolute, null, null, 0, 0);
  padding: 16px;
  float: left;
  ul {
    @include clearfix;
    li { float: left; }
  }
}
